# PyCity Schools Analysis

- ADD ANALYSIS

## Initial Setup

In [2]:
# import dependencies
import pandas as pd
from pathlib import Path

In [7]:
# create file paths
schools_path = Path("Resources/schools_complete.csv")
students_path = Path("Resources/students_complete.csv")

# read csv's into dataframes
schools_df = pd.read_csv(schools_path)
students_df = pd.read_csv(students_path)

In [31]:
# merge dataframes
complete_df = pd.merge(students_df, schools_df, how="left", on="school_name")
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [49]:
complete_df.shape

(39170, 11)

## District Summary

In [28]:
# calculate totals from merged df
schools_total = len(complete_df["School ID"].unique()) #total unique schools
students_total = len(complete_df["Student ID"])  #total students
budget_total = schools_df["budget"].sum()  #total districts' budget

In [29]:
# calculate averages
math_avg = complete_df["math_score"].mean()  #average math score
read_avg = complete_df["reading_score"].mean()  #average reading score

In [58]:
# calculate percentages

# define passing score
passing_score = 70

# define passing booleans
math_pass = complete_df["math_score"] >= passing_score
read_pass = complete_df["reading_score"] >= passing_score
overall_pass = math_pass & read_pass  #pass both math and reading

# calculate passing percentages
math_pass_pcnt = len(complete_df[math_pass]) / students_total * 100
read_pass_pcnt = len(complete_df[read_pass]) / students_total * 100
overall_pass_pcnt = len(complete_df[overall_pass]) / students_total * 100

In [68]:
# create district summary dataframe
district_summary_df = pd.DataFrame({ "Total Schools": [schools_total],
                                    "Total Students": [students_total],
                                    "Total Budget": [budget_total],
                                    "Average Math Score": [math_avg],
                                    "Average Reading Score": [read_avg],
                                    "% Passing Math": [math_pass_pcnt],
                                    "% Passing Reading": [read_pass_pcnt],
                                    "% Overall Passing": [overall_pass_pcnt]

})

# reformat first three columns
district_summary_df[["Total Schools", "Total Students"]] = district_summary_df.iloc[:, 0:2].map('{:,}'.format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map('${:,.2f}'.format)

# display summary df
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326